.mainWrapper {
  display: flex;
  width: 1920px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #FFF;

  .headerWrapper {
    display: flex;
    width: 1380px;
    padding: 20px 50px;
    //justify-content: space-between;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    border-radius: 0 0 30px 30px;
    background: var(--EmojiFree-EFnavy-500_main, #383649);

    > .headerImg {
      display: flex;
      align-self: center;
      width: 154.5px;
      height: 40px;
      flex-shrink: 0;

      background-image: url("../../img/logo_img.png");
    }
  }

  .menuBoxWrapper {
    display: flex;
    width: 1380px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 30px;

    background: #DAE2EC;

    .menuButton {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 1.5px solid var(--GrayScale-white, #FFF);
      background: var(--EmojiFree-EFnavy-500_main, #383649);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;

      > .menuText {
        color: var(--GrayScale-white, #FFF);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 20.8px */
        letter-spacing: -0.48px;
      }

      &.selected {
        background: var(--EmojiFree-EForange-500_main, #F4A418);
      }
    }
  }

  .body {
    display: flex;
    width: 1380px;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    .contentsBox {
      display: flex;
      padding: 30px 50px;
      flex-direction: column;
      align-items: center;
      gap: 75px;
      align-self: stretch;

      border-radius: 30px;
      background: #FBFBFF;

      // filter
      .searchBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        // 문자 검색 스타일
        .searchTextArea {
          display: flex;
          width: 250px;
          padding: 10px;
          justify-content: space-between;
          align-items: center;

          border-radius: 8px;
          border: 1px solid #404040;
          background: #FFF;

          flex-shrink: 0;
          color: #C4C4C4;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%; /* 20.8px */
          letter-spacing: -0.48px;

          > .searchInput {
            width: 121px;
            border: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 20.8px */
            letter-spacing: -0.48px;

            &::placeholder {
              color: #C4C4C4;
            }
          }


          > .inputImg {
            width: 25px;
            height: 25px;
            background-image: url("../../img/searchButton.png");
          }
        }

        // 버튼 소팅 스타일
        .filterSearchBox {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;

          .checkboxLabel {
            display: flex;
            min-width: 40px;
            align-items: center;
            gap: 5px;

            .filterCheckbox {
              display: flex;
              width: 16px;
              height: 16px;
              padding: 5px 1.73px 4px 2px;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              border-radius: 3px;
              border: 1px solid #344151;
              background: #344151;
            }

            > .filterText {
              color: var(--GrayScale-G-700_bodytext, #404040);
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%; /* 20.8px */
              letter-spacing: -0.48px;
            }
          }

          .sortingWrapper {
            display: flex;
            width: 80px;
            padding: 4px 10px 4px 20px;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #6B6B6B;
            background: #F6F6F6;

            > .sortingText {
              color: var(--GrayScale-G-700_bodytext, #404040);
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%; /* 20.8px */
              letter-spacing: -0.48px;
            }

            .showMoreBtn {
              width: 12.27px;
              height: 7px;
              flex-shrink: 0;

              background-image: url("../../img/show_more_btn.png");
            }
          }
        }
      }
    }



  }
}